<!-- generate all fields/buttons -->
<%= render_form @user_form %>

<!-- choose fields -->
<%= render_form @user_form do |form| -%>
  <%= form.fieldset do -%>
    <!-- custom field -->
    <%= form.field :email do |field| -%>
      <%= field.label %>
      <%= field.input %>
      <a href="#" id="check_email">Check availability</a>
    <% end -%>

    <%= form.field :password -%>
    <%= form.field :password_confirmation -%>
  <% end -%>

  <!-- default buttons -->
  <%= form.buttons -%>

  <!-- button with cancel -->
  <%= form.buttons :cancel => user_path(@user) %>

  <!-- custom buttons -->
  <%= form.buttons do -%>
    <%= form.commit_button 'Save User' %>
  <% end -%>
<% end -%>
